@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body{
    background: linear-gradient(120deg, #71b7e6, #9b59b6);
    background-position: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
html{
    height: 100%;
}
.container-body{
    max-width: 500px;
    width: 100%;
    background: #fff;
    margin: 20px auto;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
    padding: 30px;
    border-radius: 10px;
  }

  /* Schedule an appointment button */
  .btn-primary{ 
    margin-top: 350px;
    margin-right: 100px;
    color: #71b7e6;
  }

  .navbar-brand
  {
    margin-left: 50px;
  }

  .container-header {
    max-width: 500px;
    width: 100%;
    background: #fff;
    margin: 20px auto;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
    padding: 30px;
    border-radius: 10px;
  }
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body{
    background: linear-gradient(120deg, #71b7e6, #9b59b6);
    background-position: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
html{
    height: 100%;
}
.container-body{
    max-width: 500px;
    width: 100%;
    background: #fff;
    margin: 20px auto;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
    padding: 30px;
    border-radius: 10px;
  }

    /* Schedule an appointment button */
    .btn-primary{ 
      margin-top: 350px;
      margin-right: 100px;
      color: #71b7e6;
    }
  
    .navbar-brand
    {
      margin-left: 50px;
    }  

  .container-header {
    max-width: 500px;
    width: 100%;
    background: #fff;
    margin: 20px auto;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
    padding: 30px;
    border-radius: 10px;
  }